<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div style="float:right;margin-left:10px;margin-top:8px">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.triangletech.co/" data-text="triangletech is the most comprehensive event calendar for triangle startup and tech meetings" data-via="_jw2013" data-size="large">Tweet</a>
</div>

<div style="float:right;margin-top:12px">
  <% if user_signed_in? %>
    Hi, <%= current_user.username %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>

<ul>
<%= calendar @events do |event| %>
  <li>
    <%= link_to "#{event.title} [#{event.organizer}]", event, :target => '_blank' %>
  </li>
<% end %>
</ul>

<footer>
  <div id="add_event_link"><%= link_to "Add a new event", new_event_path %></div>
  <div id="suggestion_email">
  	Email suggestions and feedback to (Jack Wang): <a href="mailto:zhew@live.unc.edu" target="_blank" style="margin-right:10px">zhew@live.unc.edu</a>
  </div>
</footer>