<!DOCTYPE html>
<html>
<head>
  <title>Triangletech</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="all">
  <meta name="description" content="The most comprehensive event calendar for triangle startup and tech meetings.">
  <meta name="author" content="Jack Wang">
  <meta name="keywords" content="triangletech, triangle, tech, startup">
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<% flash.each do |key, val| %>
  <p><%= val %></p>
<% end %>

<%= yield %>

</body>
</html>
