<!DOCTYPE html>
<html>
<head>
  <title>Triangletech</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="all">
  <meta name="description" content="The most comprehensive event calendar for triangle startup and tech meetings.">
  <meta name="author" content="Jack Wang">
  <meta name="keywords" content="triangletech, triangle, tech, startup">
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
<% end %>

<%= yield %>

</body>
</html>
